// Credit to Spec

function : int * good(bool alloc) {
    static int y = 5;
    int * yy;
    if (alloc) {
        new yy;
        return yy;
    }
    return &y;
}

function : int **** goodBad(int *** zz) {
    *zz;
    return &zz;
}

int * ip;

function : void main() {
  int ** ipp = &ip;
  int *p;

  *ipp;
  *&ipp;
  *(p = good(true));
  delete p;
  *good(false);
  *goodBad(&ipp);
}
