// Credit to Richard Bull (https://piazza.com/class/hygqr9e9z2n643?cid=283)

function : int main() {
 int a = 3;
 int [5]x;
 foreach (int & i : x) {
   i = a++;
 }
 int [3] y;
 int p = 0;
 foreach (int i: x) {
   cout << i << endl;
 }
 foreach (int i : x) {
   p = p + i;
   foreach (int & s : y) {
     s = p;
        }
        foreach (int s : y) {
     cout << s << endl;
   }
 }
 return 0;
}
