// All Credits to Ren Lee and Garo Bournoutian (https://piazza.com/class/hygqr9e9z2n643?cid=243)

int x = 3;
static int y;

function : int foo() {
  return 17;
}

int z = foo();
int w = z;

function : int bar() {
    static float w = z + foo() - 2;
    while ( w > 0 ) {
        --w;
        return 1 + bar();
    }
    return 100;
}

function : int main() {
    static int w = z + foo() - foo();
    while ( w > 0 ) {
      --w;
      cout << w + z + ::w << endl;
      main();
      cout << w + z + ::w << endl;
      return 0;
    }
    cout << bar() << endl;
    cout << x + y << endl;
    return 0;
}
